#footer {
    width: 100vw;
    position: fixed;
    bottom: 0px;
    background-color: #f2f2f2;
    color: #707070;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 10px;
    font-size: $font-size;
    .country {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .footer-button {
        display: flex;
        justify-content: space-between;
        margin-right: 27px;
        margin-top: 10px;
        a{
            color: #5f6368;
        }
        .leftside {
            display: flex;
            a {
                margin-right: 26px;
            }
        }
        .rightside {
            display: flex;
            a {
                margin-right: 26px;
                }
            }
    }
}

